div,
span {
  font-size: 48px;
}

.box1 {
  background-color: gold;
  position: absolute;
}
.box2 {
  background-color: pink;
}
.box3 {
  background-color: lime;
}
.box4 {
  background-color: aqua;
}
.box5 {
  background-color: orange;
  position: absolute;
  display: inline-block;
}
